

th {
  text-align: center;
  font-weight: bold;
  cursor:pointer;

}
.tab {-webkit-transition: max-height 1s ease 0s;}
.tab {transition: height 1s ease 0s;}


.proba {
  width:100px;
  height:100px;
  background-color: red;
  transition: height 1s ease 0s;
}

.proba:hover {height: 200px;}
